body{
    background-color: hsl(0, 0%, 15%);
    color: white;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    /* filter: drop-shadow(5px 5px 5px rgb(107, 77, 45)); */
    filter: drop-shadow(5px 5px 5px black);
}
.login-card{
    background-color: black;
    color: white;
}
Button:hover{
    background-color: rgb(54, 48, 48);
}

.Dashboard{
    /* width: 100%; */
    padding-top: 30px;
    position: relative;
}
.Dashboard h4{
    /* font-size: 4dvh; */
}
.dashboard-container nav{
    display: flex;
    justify-content: space-between;
}
.dashboard-container nav span:hover{
    font-weight: bolder;
}

.trans{
    display: flex;
    justify-content: space-between;
}
.trans p{
    /* font-size: 3dvh; */
}
#transaction:hover{
    font-weight: bolder;
}

.Money{
    margin-top: 15px;
    margin-bottom: 20px;
    filter: drop-shadow(5px 5px 5px black);
}
.money{
    display: flex;
    justify-content: space-between;
}

.money p{
    /* font-size: 3dvh; */
    font-weight: bolder;
}

.Withdraw{
    filter: drop-shadow(5px 5px 5px black);
    margin-bottom: 20px;
}
.withdraw-container{
    display: flex;
    justify-content: space-around;
    filter: drop-shadow(2px 2px 2px rgb(14, 15, 2));
}

.bills{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(135px,1fr));
    gap: 2px;
    filter: drop-shadow(5px 5px 5px black);
}
.bills p{
    text-align: center;
}
.bills Button{
    filter: drop-shadow(2px 2px 2px rgb(14, 15, 2));
}

.transHistory h1{
    /* font-size: 4dvh; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
}
.transHistory li{
    text-align: center;
    margin-bottom: 10px;
}

.add-money1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.transfer1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav p{
    font-size: 4dvh;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    font-size: 3dvh;
    width: 100%;
    text-align: center;
}

@media (max-width: 320px) {
    body{
        background-color: rgba(251, 222, 4, 0.893);
        /* font-size: 4.5dvh; */
    }
    .Dashboard{
    height: 103dvh;
    }
    .Money{
        font-size: 2.5dvh;
    }
    .Withdraw p{
        font-size: 2.5dvh;
    }
}

/* *{
    margin: 0;
    padding: 0;
}

body{
    background-color: wheat;
    margin: 20px;
}


.homepage{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 4px rgb(108, 106, 106);
    padding-bottom: 10px;

}
.homepage-container nav{
    display: flex;
    margin: 12px;
    padding-top: 15px;
    justify-content: space-between;
    font-size: 2rem;
}
.homepage-container nav:hover{
    font-weight: bolder;
}
.img img{
    width: 30px;
    height: 30px;
    margin-right: 9px;
}



.Dashboard{
    background-color: green;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(2, 68, 25);
    padding: 10px;
}
.Dashboard:hover{
    background-color: rgb(3, 120, 3);
    font-weight: bolder;
}
.Transaction{
    display: flex;
    justify-content: space-between;
    font-size: 3dvh;
    padding-top: 5px;
}
.balance{
    display: flex;
    justify-content: space-between;
    font-size: 4dvh;
    padding-top: 10px;
}
.add-money button{
    padding: 5px 5px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 2dvh;
}
.add-money img{
    width: 9px;
}


.Withdraw{
    box-shadow: 1px 1px 1px 2px rgb(108, 106, 106);
    margin: 12px;
    border-radius: 5px;
}
.Withdraw-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.Withdraw-container img{
    width: 35px;
    height: 35px;
    background-color: rgb(45, 232, 126);
    padding: 10px;
    border-radius: 20px;
}
.Withdraw-container img:hover{
    background-color: rgb(21, 203, 100);

}


.Bills{
    box-shadow: 1px 1px 1px 2px rgb(108, 106, 106);
    margin: 12px;
    border-radius: 5px;
    height: auto;
}
.Bills-container img{
    width: 50px;
    height: 50px;
    background-color: rgb(45, 232, 126);
    padding: 5px;
    border-radius: 50px;
}
.Bills-container img:hover{
    background-color: rgb(21, 203, 100);
}
.Bills-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    
}

.bills-container1 .icon{
    margin: 30px;
}
.bills-container2 .icon{
    margin: 30px;
}

@media (max-width: 575.98px) {}

// `md` applies to small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {} */

/* // `lg` applies to medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {} */

/* // `xl` applies to large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) { } */

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
/* @media (max-width: 1399.98px) { } */

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { } */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { } */

/* // X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { } */

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {  } */