*{
    padding: 0;
    margin: 0;
}

body{
    text-decoration: none;
    background-color: antiquewhite;
}

.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* background-color: black; */
    text-decoration: none;
}

.homepage-container{
    width: 500px;
    box-shadow: 2px 2px 2px 4px rgb(210, 206, 206);
    background-color: rgba(242, 237, 237, 0.905);
    margin: 20px;
    border-radius: 5px;
    height: auto;
    padding: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

.homepage-container nav{
    margin-top: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.homepage button{
    color: green;
    outline: green;
    border: 1px solid green;
    background-color: white;
    border-radius: 20px;
    padding: 2px;
    width: 55px;
    margin-left: 4px;
    cursor: pointer;
}

.homepage img{
    margin-left: 20px;
}

.dashboard{
    margin-top: 10px;
    background-color: green;
    box-shadow: 2px 2px 2px 2px rgb(7, 99, 33);
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    height: 70px;
    padding: 20px;
}

.dashboard img{
    margin: 0;
    padding-left: 3px;
    padding-right: 3px;
}

.transaction{
    /* margin-top: 6px; */
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.balance{
    margin-top: 9px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

.balance button{
    height: 25px;
    width: 70px;
    font-size: 9px;
    cursor: pointer;
}

.withdraw{
    box-shadow: 2px 2px 2px 2px rgb(210, 206, 206);
    padding-right: 10px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    height: 80px;
}

.withdraw-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.bills{
    box-shadow: 2px 2px 2px 2px rgb(210, 206, 206);
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
}


.bill-container1{
    display: flex;
    justify-content: space-between;

}

.bill-container2{
    display: flex;
    justify-content: space-between;

}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    /* background-color: black; */
}

.signup-container{
    background-color: rgba(255, 255, 255, 0.905);
    border-radius: 5px;
    width: 350px;
    display: flex;
    justify-content: center;
    height: auto;
    box-shadow: 2px 2px 2px 4px rgb(210, 206, 206);
}

.signup-container input{
    background-color: rgb(190, 187, 187);
    margin-left: 15px;
    margin-top: 20px;
    padding: 7px 30px;
    border-radius: 20px;
    border: none;
    outline-color: green;
}
.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button{
    margin: 0;
    -webkit-appearance: none;
}

.signup-container button{
    cursor: pointer;
    margin: 20px;
    margin-left: 20px;
    padding: 5px 65px;
    border-radius: 20px;
    background-color: green;
    color: white;
    border: 1px solid green;
}

.signup p{
    padding-left: 30px;
    margin-top: 5px;
    font-size: 12px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    /* background-color: black; */
}

.login-container{
    padding-top: 8px;
    background-color: rgba(255, 255, 255, 0.905);
    border-radius: 5px;
    width: 350px;
    display: flex;
    justify-content: center;
    height: auto;
    box-shadow: 2px 2px 2px 4px rgb(210, 206, 206);

}

.login-container input{
    background-color: rgb(190, 187, 187);
    margin-left: 15px;
    margin-top: 20px;
    padding: 7px 30px;
    width: 200px;
    border-radius: 20px;
    border: none;
    outline-color: green;
}
.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button{
    margin: 0;
    -webkit-appearance: none;
}

.login-container button{
    cursor: pointer;
    margin: 20px;
    margin-left: 50px;
    padding: 5px 65px;
    width: 200px;
    border-radius: 20px;
    background-color: green;
    color: white;
    border: 1px solid green;
}

.login p{
    /* padding-left: 30px; */
    /* margin-top: 5px; */
    /* font-size: 12px; */
    text-align: center;
    padding-bottom: 20px;
}

.logout-container{
    display: flex;
    justify-content: center;
}

.logout button{
    cursor: pointer;
    margin-top: 20px;
    border-radius: 2px;
    width: 100px;
    padding: 12px;
    margin-bottom: 15px;
}
.logout button:hover{
    background-color: green;
    color: white;
}
.logout button:active{
    background-color: white;
    color: green;
}

.add-money1{
    background-color: wheat;
    display: flex;
    justify-content: center;
    height: 100dvh;
    align-items: center;
}
.add-money-container{
    border: 1px solid white;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.905);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 4px rgb(210, 206, 206);
}
.add-money-container input{
    background-color: rgb(190, 187, 187);
    padding: 7px 30px;
    border-radius: 5px;
    border: none;
    outline-color: wheat;
    margin-bottom: 5px;
}
.add-money-container button{
    border-radius: 5px;
    border: none;
    background-color: green;
    cursor: pointer;
}
.add-money-container button:hover{
    background-color: rgb(1, 94, 22);
}
.add-money-container button:active{
    background-color: rgb(1, 132, 32);
}